<form action="/" method="POST" encType="multipart/form-data">
  <h3>Upload Profile Photo</h3>
  <input type="file" name="sampleFile" accept="image/*" />
  <input type="submit" class="btn btn-primary">
</form>

<div class="card">
  {{#each rows}}

    {{#if this.profile_image}}
      <img class="card__image" src="{{this.profile_image}}" loading="lazy" alt="User Profile">
    {{else}}
      <img class="card__image" src="/img/default.jpg" loading="lazy" alt="User Profile">
    {{/if}}
    
    <h1 class="card__title">{{this.name}}</h1>
    <div class="card__job">{{this.job_title}}</div>
    <p class="card__about">
      {{this.description}}
    </p>
    <button type="button" class="btn btn-primary">View Profile</button>
  {{/each}}

</div>